

.skills-main-div {
  display: flex;
}

.skills-header {
  font-size: 1px;
  line-height: 1.1;
  font-family: "Google Sans Regular";
  text-align: center;
}

.skills-text {
  font-size: 32px;
}

.skills-text-div {
  padding-top: 0px;
  font-family: "Google Sans Regular";
}

.skills-main-div > * {
  flex: 1;
  margin-top: 2rem;
  margin-bottom: 12rem;
}

.skills-image-div > * {
  margin-left: 25vh;
  margin-top: 10vh;
  width: 70%;
  height: auto;
}

.skills-heading {
  font-size: 70px;
  font-weight: 400;
  line-height: 1.1;
  text-align: center;
  padding-bottom: 40px;
  font-family: "Google Sans Regular";
}

/* Media Query */
@media (max-width: 1380px) {
  .skills-heading {
    font-size: 40px;
  }
  .skills-header {
    font-size: 50px;
  }
}

@media (max-width: 768px) {
  .skills-heading {
    font-size: 30px;
    text-align: center;
  }
  .skills-header {
    font-size: 30px;
  }
  .greeting-text-p {
    font-size: 16px;
    line-height: normal;
  }
  .skills-main-div {
    flex-direction: column;
  }
  .skills-text-div {
    margin-left: 0px;
    margin: 20px;
  }
  .skills-text {
    font-size: 16px;
  }
  .skills-text-subtitle {
    font-size: 16px;
    text-align: center;
  }
  .skills-image-div {
    order: 2;
  }
  .skills-image-div > * {
    margin-top: 0px;
  }
}

/* Core styles/functionality */
.tab input {
  position: absolute;
  opacity: 0;
  z-index: -1;
}

.tab__content {
  max-height: 0;
  overflow: hidden;
  transition: all 0.35s;
}

.tab input:checked ~ .tab__content {
  max-height: 90rem;
}

/* Visual styles */
.accordion {
  color: var(--theme);
  border-radius: 0.5rem;
  overflow: hidden;
  gap: 0.5rem;
}

.tab__label,
.tab__close {
  display: flex;
  color: rgb(255, 255, 255);
  background: #caed3135;
  cursor: pointer;
  font-size: 1rem;
  border: #CCED31;
}

.tab__label {
  justify-content: space-between;
  padding: 2rem;
}

.tab__label::after {
  content: "\276F";
  width: 1em;
  height: 1em;
  text-align: center;
  transform: rotate(90deg);
  transition: all 0.35s;
}

.tab input:checked + .tab__label::after {
  transform: rotate(270deg);
}

.tab__content p {
  margin: 0;
  padding: 1rem;
}

.tab__close {
  justify-content: flex-end;
  padding: 0.5rem 1rem;
  font-size: 1rem;
}

.accordion--radio {
  --theme: var(--secondary);
}

/* Arrow animation */
.tab input:not(:checked) + .tab__label:hover::after {
  animation: bounce 0.5s infinite;
}

@keyframes bounce {
  25% {
    transform: rotate(90deg) translate(0.25rem);
  }
  75% {
    transform: rotate(90deg) translate(-0.25rem);
  }
}

article {
  padding: 0.5rem;
  margin: 1em auto;
  border-radius: 1rem;
  cursor: pointer;
  transition: background-color 0.7s ease, box-shadow 0.4s ease;
  font-size: 1rem;
}

article:hover {
  color: #CCED31;
  box-shadow: 0 0 5px #CCED31;
  text-shadow: 0 0 5px #caed3183;
}

input[type="radio"] {
  appearance: none;
  position: fixed;
  top: -100vh;
  left: -100vh;
}

input[type="radio"] ~ div {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.4s;
}

input[type="radio"]:checked ~ div {
  max-height: 70vh;
  background-color: #5e5e5b00;
  border-radius: 1rem;
  padding: 1rem;
}


/* Definindo a animação */
@keyframes slideIn {
  from {
    opacity: 0;
    transform: translateX(100%);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.sites1 {
  font-size: 1.2rem;
  padding: 0;
}

.SD12 {
  text-align: right;
  color: #CCED31;
  text-shadow: 0 0 5px #caed3183;
  font-size: 3rem;
  position: relative;
  animation: slideIn 1s forwards;
  padding-top: 8rem;
  padding-bottom: 2rem;
  margin-bottom: 8rem;
}


.SD123 {
  text-align: left;
  color: #CCED31;
  text-shadow: 0 0 5px #caed3183;
  font-size: 3rem;
  position: relative;
  animation: slideIn 1s forwards;
  padding-top: 8rem;
  padding-bottom: 2rem;
  margin-bottom: 8rem;
}

.main3 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 50px;
  font-family: 'Roboto', sans-serif;
  height: 100%;

}

.card {
  width: 15rem;
  height: 15rem;
  border-radius: 10px;
  overflow: hidden;
  cursor: pointer;
  position: relative;
  color: white;
  box-shadow: 0 10px 30px 5px rgba(0, 0, 0, 0.2);
  margin-left: 2rem;
  margin-top: 1rem;
  
}

.card img {
  position: absolute;
  object-fit: cover;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0.9;
  transition: opacity 0.2s ease-out;
}

.card h2 {
  position: absolute;
  inset: auto auto 30px 30px;
  margin: 0;
  transition: inset 0.3s 0.3s ease-out;
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: normal;
  text-transform: uppercase;
}

.card p,
.card a {
  position: absolute;
  opacity: 0;
  max-width: 80%;
  transition: opacity 0.3s ease-out;
}

.card p {
  inset: auto auto 80px 30px;
}

.card a {
  inset: auto auto 40px 30px;
  color: inherit;
  text-decoration: none;
}

.card:hover h2 {
  inset: auto auto 220px 30px;
  transition: inset 0.3s ease-out;
}

.card:hover p,
.card:hover a {
  opacity: 1;
  transition: opacity 0.5s 0.1s ease-in;
}

.card:hover img {
  transition: opacity 0.3s ease-in;
  opacity: 1;
}

.material-symbols-outlined {
  vertical-align: middle;
}

.equipa {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

/* Float four columns side by side */
.column {
  float: left;
  width: 25%;
  padding: 0 10px;
}

/* Remove extra left and right margins, due to padding in columns */
.row {margin: 0 -5px;}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Style the counter cards */
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); /* this adds the "card" effect */
  padding: 16px;
  text-align: center;
  color: #CCED31;
  box-shadow: 0 0 5px #CCED31;
  text-shadow: 0 0 5px #caed3183;
}

/* Responsive columns - one column layout (vertical) on small screens */
@media screen and (max-width: 600px) {
  .column {
    width: 100%;
    display: block;
    margin-bottom: 20px;
  }
}

.icon {
  margin-right: 5rem; /* Ajuste este valor conforme necessário */

  width: 3rem;
  height: auto;
}