

.skills-main-div {
  display: flex;
}

.skills-header {
  font-size: 1px;
  line-height: 1.1;
  font-family: "Google Sans Regular";
  text-align: center;
}

.skills-text {
  font-size: 26px;
}

.skills-text-div {
  padding-bottom: 20px;
  padding-top: 0px;
  font-family: "Google Sans Regular";
  
}

.skills-main-div > * {
  flex: 1;
  margin-bottom: 30px;
}

.skills-image-div > * {
  width: 90%;
  height: auto;
  
}

.skills-heading {
  font-size: 70px;
  font-weight: 400;
  line-height: 1.1;
  text-align: center;
  padding-bottom: 40px;
  font-family: "Google Sans Regular";
}

/* Media Query */
@media (max-width: 1380px) {
  .skills-heading {
    font-size: 40px;
  }
  .skills-header {
    font-size: 50px;
  }
}
@media (max-width: 768px) {
  .skills-heading {
    font-size: 30px;
    text-align: center;
  }
  .skills-header {
    font-size: 30px;
  }
  .greeting-text-p {
    font-size: 16px;
    line-height: normal;
  }
  .skills-main-div {
    flex-direction: column;
  }
  .skills-text-div {
    margin-left: 0px;
    margin: 20px;
  }
  .skills-text {
    font-size: 16px;
  }
  .skills-text-subtitle {
    font-size: 16px;
    text-align: center;
  }
  .skills-image-div {
    order: 2;
  }
  .skills-image-div > * {
    margin-top: 0px;
  }
}
