.footer-div {
  margin-top: 2rem;
  background-color: #292a2d;
  color: #ffffff;
  padding: 2rem;
}

.footer-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  padding: 2rem;
}

.footer-content h4 {
  margin-bottom: 1rem;
  text-align: center;
}

.footer-section {
  flex: 1;
  margin: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer-section h4 {
  margin-bottom: 1rem;
  text-align: center;
}

.footer-menu ul,
.footer-contact ul {
  list-style: none;
  padding: 0;
}

.footer-menu ul li,
.footer-contact ul li {
  margin-bottom: 0.5rem;
}

.footer-menu ul li a,
.footer-contact ul li a {
  color: #b6d109;
  text-decoration: none;
  transition: color 0.3s;
}

.footer-menu ul li a:hover,
.footer-contact ul li a:hover {
  color: #CCED00;
}

.footer-zaask .zaask-logo {
  width: 50px;
  height: auto;
  transition: transform 0.3s;
}

.footer-zaask .zaask-logo:hover {
  transform: scale(1.1);
}

.footer-text {
  text-align: center;
  font-weight: bold;
  font-family: "Google Sans Regular";
  margin-top: 2rem;
}

.footer-map iframe {
  width: 100%;
  max-width: 300px;
  height: 200px;
}

@media (min-width: 768px) {
  .footer-content {
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start; /* Ensure all items align at the top */
  }
  
  .footer-section {
    align-items: flex-start; /* Align text to the top */
  }
}
